asgiref>=3.7,<4.0
sqlparse==0.5.5
django>=5.1.15
psycopg2-binary==2.9.9
pip
djangorestframework>=3.15.2
djangorestframework-simplejwt>=5.5.1
django-cors-headers==4.3.1
django-filter==24.3
drf-yasg==1.21.7
cryptography==46.0.5
djangorestframework
gunicorn==23.0.0
